
<div class="footer-basic" style="background-color:rgb(34,32,32);">
    <footer>
        <div class="social"><a href="https://www.facebook.com/jeffnts" target="_blank"><i class="icon ion-social-facebook" style="color:rgb(228,231,234);"></i></a><a href="https://twitter.com/jeffnts"><i class="icon ion-social-twitter" style="color:rgb(228,231,234);"></i></a>
            <a
                    href="https://www.instagram.com/jeffnts/"><i class="icon ion-social-instagram" style="color:rgb(228,231,234);"></i></a><a href="#"><i class="icon ion-social-youtube" style="color:rgb(228,231,234);"></i></a><a href="https://www.linkedin.com/in/jeffnts/"><i class="icon ion-social-linkedin" style="color:rgb(228,231,234);"></i></a>
            <a
                    href="https://github.com/jeffnts"><i class="icon ion-social-github" style="color:rgb(228,231,234);"></i></a>
        </div>
        <ul class="list-inline d-block" data-aos="fade" style="/*padding:-5px;*/margin:0px;margin-left:40px;">
            <li class="list-inline-item"></li>
            <li class="list-inline-item">
                <a  {%if page.title == 'Home'%}
                href="#home"
                {%else%}
                href={{site.baseurl}}"/"
                {%endif%}} style="color:rgb(228,231,234);">Home
                </a>
            </li>
            <li class="list-inline-item"><a href="{{site.baseurl}}/blog" style="color:rgb(228,231,234);">Blog</a></li>
            <li class="list-inline-item"><a href="{{site.baseurl}}/#sobre-mim" style="color:rgb(228,231,234);">Sobre Mim</a></li>
            <li class="list-inline-item"><a href="{{site.baseurl}}/#contato" style="color:rgb(228,231,234);">Contato</a></li>
            <li class="list-inline-item"></li>
            <li class="list-inline-item"></li>
        </ul>
        <p class="copyright"><br>© Jefferson Nascimento Teixeira de Souza - Todos os direitos reservados | 2018<br><br></p>
    </footer>
</div>
<script src="{{"assets/js/jquery-3.2.1.min.js"  | relative_url}}"></script>
<script src="{{"assets/js/popper.min.js" | relative_url}}"></script>
<script src="{{"assets/js/bootstrap.min.js" | relative_url}}"></script>
<script src="{{"assets/js/bs-animation.js"| relative_url}}"></script>
<script src="{{"assets/js/scrool.js"| relative_url}}"></script>
<script src="{{"assets/js/menu.js"| relative_url}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
<script id="dsq-count-scr" src="//jeffnts.disqus.com/count.js" async></script>


<!--

<script src="../assets/js/mobile_button.js"></script>
<footer class = "footer "> <p>&copy Jefferson Nascimento Teixeira de Souza - Todos os direitos reservados | 2018</p>



</footer>
<script src="{{"assets/js/jquery-3.2.1.min.js"  | relative_url}}"></script>
<script src="{{"assets/js/popper.min.js" | relative_url}}"></script>
<script src="{{"assets/js/bootstrap.min.js" | relative_url}}"></script>
<script src="{{"assets/js/mobile_button.js" | relative_url}}"></script>

-->
