
<div id = "home">
    <nav  class="menu menu-shadow  navbar navbar-light  navbar-expand-md{%if page.title == 'Home' %} fixed-top  {%endif%}  navigation-clean "  >
        <div class="container ">
            <a class="navbar-brand current nav-item"
               {%if page.title == 'Home'%}
                    href="#home"
                {%else%}
                    href={{site.baseurl}}"/"
                {%endif%}}
                    > &#60 Jeff />
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item  {%if page.type == 'blog' %} current {% endif %}" role="presentation"><a class="nav-link " href="{{site.baseurl}}/blog">Blog</a></li>
                        <li class="nav-item " role="presentation"><a class="nav-link " href="{{site.baseurl}}/#sobre-mim">Sobre Mim</a></li>
                        <li class="nav-item " role="presentation"><a class="nav-link " href="{{site.baseurl}}/#contato">Contato</a></li>
                    </ul>
                </div>
        </div>
    </nav>
</div>




<!--

<label for="show-menu" class="show-menu"> Menu  <div class = "mobile-btn">
    <span></span>
    <span></span>
    <span></span>
</div> </i> </label>
<input type="checkbox" id="show-menu" role="button">

<nav class = "menu">
<ul >
        <li  class = "logo {%if page.title == 'Home' %} active {% endif %} " ><a href={{site.baseurl}}"/"> &#60 Jeff /></a></li>
        <li class="float-right {%if page.type == 'about' %} active {% endif %}"><a href="{{site.baseurl}}/sobre-min">Sobre Mim</a></li>
        <li class="float-right {%if page.type == 'blog' %} active {% endif %}"><a href="{{site.baseurl}}/blog">Blog</a></li>
</ul>



</nav>-->
